[Unit]
Description={{ monscript.description }}
OnFailure={{ systemd_prefix }}.{{ monscript.name }}.failure.service

[Service]
Type=oneshot
ExecStart={{ monscript.path }}
TimeoutStartSec={{ monscript.time.timeout | default(60) }}s
RuntimeStartSec={{ monscript.time.timeout | default(60) }}s
RestartSec={{ monscript.time.frequency | default(60) }}s

ExecStopPost=echo "custom_metrics_script_status{name=\"{{ systemd_prefix }}.{{ monscript.name }}\"}   0" > {{ textfile_metrics_location }}/{{ systemd_prefix }}.{{ monscript.name }}.prom

[Install]
WantedBy=multi-user.target
