[Unit]
Description={{ monscript.description }}

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'timeout {{ monscript.time.timeout }} {{ monscript.path }}; \
            echo $? > {{ custom_metrics_root }}/status/{{ monscript.name }}'
ExecStartPost=/bin/bash -c \
    'if [ "$(cat {{ custom_metrics_root }}/status/{{ monscript.name }})" -ne 0 ]; \
    then \
        echo "custom_metrics_script{name=\"{{ monscript.name }}\"} 1" > {{ textfile_metrics_location }}/{{ monscript.name }}-status.prom; \
    else \
        echo "custom_metrics_script{name=\"{{ monscript.name }}\"} 0" > {{ textfile_metrics_location }}/{{ monscript.name }}-status.prom; \
    fi'

[Install]
WantedBy=multi-user.target
